*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(74, 77, 3);
    margin: 0 20px;
   }
main{
     background-color: rgb(3, 30, 30);
     padding: 0 30px;
}