body{
  background-image: url('../assets/img/fondo.jpg');
  background-size:contain;
  font-family:"Google Sans Code", monospace;
}
.menu1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #000d6c;
  position: fixed;
  width: 100%;
}
.menu1__home, .menu1__agenda{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.menu1__agenda:hover{
   background-color: #AA5EEC;
   transform: scale(110%);
}
.principal{
  background-color: #fff;
  width: 80%;
}
.presentacion{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #AA5EEC;
  padding-top:50px;

}
.presentacion__foto img{
  height: 220px;
}
h1{
font-family: "Quintessential", serif;
font-size: 80px;
}
.testimonios{
  background-color: #AA5EEC;
}
.experiencia{
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: flex-start;
align-content: center;
  padding: 50px 0;
}
.experiencia__contenedor{
  display: flex;
  align-items: center;
}
.experiencia__titulo{
  margin-left: 100px;
}
.experiencia__logo img{
  height: 150px;
}
h2{
  font-size: 26px;
  font-weight: 600;
}
.experiencia__titulo--uni{
  font-size: 20px;
}
.carousel-item {
  padding: 100px 150px;
}
.testimonios__titulo{
  font-weight: 600;
}
.agendar__titulo{
  font-size: 18px;
  font-weight: 600;
}
.agendar__boton{
  background-color: #AA5EEC;
}
.agendar__boton:hover{
   background-color: #135ac6;
}
footer{
  background-color: #135ac6;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}
.footer__fila{
  padding-right: 10px;
}

.footer__fila li{
  list-style-type: none;
}
.footer__item{
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}
.footer__item:hover{
  background-color: #AA5EEC;
}
