*{
  box-sizing: border-box;
}
nav{
  background-color: #111;
  height: 12vh;
  position: fixed;
  border-bottom: 2px solid rgba(51, 51, 51, .25);
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: bold;
  width: 100%;
  text-align: center;
  align-content: center;
  z-index: 99999;
}
nav ul li{
  display: inline-block;
}
svg{
  margin: 0 1px 0 0;
  fill: rgb(126,126,126);
}
.logo, .lista, .lupitasvg{
  fill:#fff;
}
svg:hover{
  fill:#FF4655;
}
.lista a:hover{
  background: rgba(128, 128,128, 0.3);
  color: red;
  border-radius: 6.4px;
  border-bottom: red;
  border: 5px;
}

.lupitasvg{
  display: inline;
  fill:#fff;
   background: rgba(128, 128,128, 0.3);
   border-radius: 6.4px;
}
.lupitasvg:hover{
   fill: white;
   cursor: pointer;

}
li a{
  color: #c7c7c7;
  text-decoration: none;
  padding: 7.5px 16px;
  text-align: center;
  margin-right: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 700;
}
li.dropdown{
  display: inline-block;
}
.dropdown-contenido{
  display:none;
  position: absolute;
}
.jugar{
  background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
  border-radius: 12px;
  padding: 8px 16px;
  color: black;
  font-weight: 500;
}
h2{
  display: block;
}
/*VIDEO */
#myVideo {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 97vh;
  object-fit:fill;
}
.content {
  position: absolute;
  color: #f1f1f1;
  padding: 20px;
  text-align: center;
  bottom: 200px;
}
h1{
  text-align: center;
  color: #c7c7c7;
  font-family: "Tungsten-Bold", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 0.28px;
  margin: 20px 0 75px;
}
.juega-gratis{
  background-color: #FF4655;
  text-decoration: none;
  color: #ECE8E1;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 18px 32px;
  outline: 1px solid white;
  outline-offset: 3px;
}
.juega-gratis:hover{
  background-color: #ECE8E1;
  color: black;
}
.noticias{
  display: block;
  margin: 0 auto;
}

